.App {
  text-align: center;
  color: rgb(71, 77, 86);
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.city {
  display: inline-flex;
  font-size: 4.4vw;
  padding: .2em;
}

.icon {
  display: inline-flex;
  height: 7vw;
  width: auto;
}

.description {
  font-size: 2.3vw;
  padding-bottom: 7vw;
}

.temp {
  padding-top: 4.5vw;
  font-size: 6vw;
}

.min-max-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 6vw 0 8vw 0;
  font-size: 2.5vw;
}

.min-temp {
  display: inline-flex;
  padding-left: 35vw;
}

.max-temp {
  display: inline-flex;
  padding-right: 38vw;
}

.line {
  margin: 0 5em 4em 5em;
  border-width: 1.5px;
}

.zip {
  padding-right: 19vw;
  font-size: 1.7vw;
  padding-bottom: .4em;
}

.text {
  height: 4vw;
  width: 8vw;
  border-radius: 5px;
  font-size: 1.5vw;
  padding: 0 .5em 0 .5em;
  border: solid darkgrey 1.5px;
  box-shadow: 0px -1px 5px darkgrey;
}

.submit {
  -webkit-appearance: none;
  font-size: 1.7vw;
  font-weight: bold;
  height: 4.2vw;
  width: auto;
  border-radius: 8px;
  background-color: lightgrey;
  margin-left: 1em;
  padding: .1em 3em .1em 3em;
  text-shadow: -1px 1.5px 1px white;
  box-shadow: 0px -1px 5px darkgrey;
  border: solid darkgrey 1.5px;
}

.errors {
  color: aquamarine;
  background-color: grey;
  font-size: 1.2vw;
}